<launch>

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/> 
  <param name="scan_mode"           type="string"  value="DenseBoost"/> 
  <param name="serial_baudrate"     type="int"    value="256000"/>
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

	<include file="$(find rplidar_data)/launch/start.launch"/>
	<include file="$(find rplidar_data)/launch/subfunction.launch"/>
	<include file="$(find rplidar_data)/launch/dynamixel.launch"/>

	<node pkg = "rplidar_data" type="find_min" name="find_min"/>
	<node pkg = "rplidar_data" type="Leg_servo" name="Leg_servo"/>
	<node pkg = "rplidar_data" type="PI_controller" name="PI_controller"/>
	<node pkg = "rplidar_data" type="z_dist_error" name="z_dist_error"/>

</launch>
