<launch>

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/> 
  <param name="scan_mode"           type="string"  value="DenseBoost"/> 
  <param name="serial_baudrate"     type="int"    value="256000"/>
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

	<include file="$(find rplidar_data)/launch/start.launch"/>

	<include file="$(find rplidar_data)/launch/find_minimum.launch"/>
	<include file="$(find rplidar_data)/launch/Leg_servo.launch"/>
	<include file="$(find rplidar_data)/launch/distance.launch"/>

	<include file="$(find rplidar_data)/launch/feedback.launch"/>
	<include file="$(find rplidar_data)/launch/proportional_controller.launch"/>
	<include file="$(find rplidar_data)/launch/integral_controller.launch"/>

	<include file="$(find rplidar_data)/launch/subfunction.launch"/>


</launch>
