<launch>

	<node pkg = "rplidar_data" type="Raw_data2Information" name="Raw_data2Information"/>
	<node pkg = "rplidar_data" type="assemble" name="assemble"/>
	<node pkg = "rplidar_data" type="control_theta" name="control_theta"/>
	<node pkg = "dynamixel_workbench_controllers" type="write" name="write"/>
	<node pkg = "rplidar_data" type="servo_motor" name="servo_motor"/>

</launch>
